*root {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    maring: 0;
    padding: 0;
}

.heading {
    display: flex;
}

.sales-summary {
   display: flex;
}

.container {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #f5f5f5;
    border: 2px solid pink;


}

.inner-container {

    display: flex;
    /*justify-content: center;*/
    /*align-content: space-around;*/
    border: 2px solid green;
    justify-content: space-around;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px dashed blue;
/*flex-direction: row;*/
/*    justify-content:center;*/
/*    padding: 20px;*/


    .button-item {
        display: flex;
        align-items: center;
    }
    /*align-content: flex-end;*/
    /*justify-content: center;*/
    /*align-content: space-around;*/
    border: 2px solid pink;
   
}

.outer-container {
    padding: 60px;
    display: flex;
    align-items: center;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-content: space-around;*/
    border: 1px dashed gray;
    border-radius: 10px;
    background-color: lightgray;
}
.box1 {
    text-align: center;
    margin-top: 20px;
    padding: 55px;
    border-radius: 8px;
    color: white;
    border : 1px solid darkgreen;


}

.text-container {
    display: flex;
    flex-direction: column;
padding-left: 40px;
}

.box2 {
    text-align: center;
    margin-top: 20px;
    padding: 55px;
    border-radius: 8px;
    color: white;
    background-color: lightblue;
    border: 1px solid darkblue;


}

.box3 {
    text-align: center;
    margin-top: 20px;
    padding: 55px;
    border-radius: 8px;
    color: white;
    background-color: lightblue;
    border: 1px solid red;


}

.feature-buttons {
    display: flex;
    flex-direction: row;
}

.buttons {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin-right:10px;
}